// -----------------------------------------------------------------------------
// Contact
// -----------------------------------------------------------------------------
#contact {
    background: url('../img/Feed_bg.jpg') center bottom;
    background-size: cover;
    section.contact-form {
        padding: 6rem 0;
        @media (#{$bp-larger-than-mobile}) {
            padding: 8rem 0;
        }
        @media (#{$bp-larger-than-desktop}) {
            padding: 10rem 0;
        }
        .section-heading {
            color: $white;
            padding: 4rem 0 0;
            margin-bottom: 2rem;
            @media (#{$bp-larger-than-mobile}) {
                font-size: 2.6rem;
                padding: 8rem 0 0;
                margin-bottom: 4rem;
            }
            @media (#{$bp-larger-than-tablet}) {
                font-size: 3.6rem;
                padding: 10rem 0 0;
                margin-bottom: 4rem;
            }
        }
        .contact-form {
            max-width: 32rem;
            margin: 0 auto;
            .form-bg {
                padding: 2rem 1rem 1.4rem;
                background: rgba($white, 0.2);
                margin-bottom: 4rem;
            }
            @media (#{$bp-larger-than-mobile}) {
                max-width: 62rem;
            }
        }
        .js-validate-error-field {
            border: none !important;
        }
        .js-validate-error-label {
            color: $white;
            font-weight: 1.5rem;
            font-weight: 100;
            padding: 1rem;
            text-align: left;
            position: relative;
            top: -1rem;
            background-color: $gray-darker;
            &:before {
                content: '';
                position: absolute;
                top: -10px;
                left: 20px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $gray-darker;
            }
        }
    }
}