// -----------------------------------------------------------------------------
// Home
// -----------------------------------------------------------------------------
#home {
    section {
        &:not(#hero) {
            padding: 6rem 0;
            .anchor {
                display: block;
                height: 12rem;
                margin-top: -12rem;
                visibility: hidden;
            }
            @media (#{$bp-larger-than-mobile}) {
                padding: 8rem 0;
                .anchor {
                    height: 16rem;
                    margin-top: -16rem;
                }
            }
            @media (#{$bp-larger-than-desktop}) {
                padding: 10rem 0;
                .anchor {
                    height: 20rem;
                    margin-top: -20rem;
                }
            }
        }
    }
    // hero
    section.hero {
        position: relative;
        .hero-slider {
            width: 100%;
            height: 100vh;
            max-height: 508px;
            overflow: hidden;
            padding-top: 60px;
            position: relative;
            @media (#{$bp-larger-than-mobile}) {
                max-height: inherit;
                padding-top: 80px;
            }
            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: center bottom url('../img/Overlay.png');
            }
            .carousel-cell {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                .inner {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    .hero__title {
                        line-height: 1;
                        margin-bottom: 3rem;
                    }
                }
            }
            .carousel-nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 27rem;
                margin: 0 auto;
                .btn {
                    margin: 0;
                }
                .button-previous,
                .button-next {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    padding: 0;
                    .arrow-icon {
                        fill: $white;
                        width: 8px;
                        height: 12px;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .scroll-down {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 2rem;
            .button-down {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                background-color: $white;
                @media (#{$bp-larger-than-tablet}) {
                    width: 54px;
                    height: 54px;
                    margin-bottom: 2rem;
                }
                &:focus,
                &:hover,
                &:active {
                    .down-icon,
                    .mouse-icon {
                        fill: $color-brand;
                    }
                }
                .down-icon,
                .mouse-icon {
                    fill: $color-primary;
                    width: 12px;
                    height: 17px;
                    margin: 0 auto;
                }
                .down-icon {
                    width: 12px;
                    height: 17px;
                    display: block;
                    @media (#{$bp-larger-than-tablet}) {
                        display: none;
                    }
                }
                .mouse-icon {
                    width: 22px;
                    height: 34px;
                    display: none;
                    position: relative;
                    @media (#{$bp-larger-than-tablet}) {
                        display: block;
                        +.arrow-icon {
                            display: block;
                        }
                    }
                }
                .arrow-icon {
                    display: none;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    fill: $white;
                    width: 12px;
                    height: 8px;
                }
            }
        }
    }
    // intro
    section.intro {
        .section-heading {
            color: $gray-darkest;
        }
        p {
            font-size: 1.5rem;
            font-weight: 100;
            line-height: 1.4;
            @media (#{$bp-larger-than-mobile}) {
                font-size: 2rem;
                line-height: 1.5;
            }
            @media (#{$bp-larger-than-tablet}) {
                font-size: 2.4rem;
                line-height: 1.4;
            }
        }
    }
    section.social {
        background: url('../img/Feed_bg.jpg') center bottom;
        background-size: cover;
        .section-heading {
            color: rgba(119, 145, 153, 1);
        }
        .social__link {
            color: $white;
            display: block;
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 3rem;
            &:hover {
                color: $color-brand;
            }
            @media (#{$bp-larger-than-mobile}) {
                font-size: 3rem;
                margin-bottom: 4rem;
            }
        }
        .feed__grid {
            .feed__grid-sizer,
            .feed__grid-item {
                width: 300px;
            }
            .feed__grid-item {
                background-color: $white;
                margin-bottom: 2rem;
                img {
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                }
                .feed__content {
                    p {
                        color: $gray;
                        font-size: 1.5rem;
                        text-align: left;
                        line-height: 1.4;
                        padding: 1.5rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}