// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
    background-color: $color-primary;
    color: $white;
    display: flex;
    align-items: center;
    padding: 2.6rem 0;
    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 0 auto;
        li {
            margin: 0;
            &:not(:last-child) {
                margin-right: 1rem;
            }
            a {
                display: block;
                padding: 1.1rem 1.5rem;
                &:active,
                &:hover {
                    .social-icon {
                        fill: $color-brand;
                    }
                }
            }
        }

        .social-icon {
            fill: $white;
            &.facebook-icon {
                width: 11px;
                height: 20px;
            }
            &.twitter-icon {
                width: 25px;
                height: 20px;
            }
            &.instagram-icon {
                width: 20px;
                height: 20px;
                fill-rule: evenodd;
            }
        }
    }
}
