// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------
.header {
	background-color: $color-primary;
	position: fixed;
	width: 100%;
	z-index: $z-index-1;
	@media (#{$bp-larger-than-mobile}) {
		display: flex;
		align-items: center;
	}
	.header__logo {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		position: absolute;
		justify-content: center;
		@media (#{$bp-larger-than-mobile}) {
			display: inline-block;
			position: relative;
			width: auto;
		}
		a {
			padding: 0 1.5em;
			display: block;
		}
		.logo-icon {
			fill: $white;
			width: 32px;
			height: 32px;
		}
	}
	// navigation
	.header__nav {
		.nav {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			height: 60px;
			.menu {
				background-color: $color-primary;
				border-top: 2px solid $white;
				list-style: none;
				display: block;
				margin: 0;
				text-align: center;
				height: 0;
				transition: all 1s ease;
				opacity: 0;
				visibility: hidden;
				width: 100%;
				overflow: hidden;
				.menu__item {
					font-size: 3rem;
					font-weight: 900;
					&:first-child {
						margin-top: 3rem;
					}
					a {
						display: block;
						color: $white;
						padding: .84em;
						text-decoration: none;
						&:hover,
						&:active {
							color: $color-brand;
						}
					}
				}
			}
			.menu-icon {
				cursor: pointer;
				display: inline-block;
				padding: 1.76em 1.25em;
				margin: 0;
				position: relative;
				user-select: none;
				.hamburger {
					background: $white;
					display: block;
					height: 3px;
					position: relative;
					transition: background .2s ease-out;
					width: 24px;
					&:before,
					&:after {
						background: $white;
						content: '';
						display: block;
						height: 100%;
						position: absolute;
						transition: all .2s ease-out;
						width: 100%;
					}
					&:before {
						top: 0.625em;
					}
					&:after {
						top: -0.625em;
					}
				}
			}
			input.menu-toggle {
				display: none;
				visibility: hidden;
			}
			.menu-toggle:checked~.menu {
				opacity: 1;
				height: 100vh;
				visibility: visible;
			}
			.menu-toggle:checked~.menu-icon {
				.hamburger {
					background: transparent;
					&:before {
						transform: rotate(-45deg);
					}
					&:after {
						transform: rotate(45deg);
					}
					&:before,
					&:after {
						top: 0;
					}
				}
			}
			@media (#{$bp-larger-than-mobile}) {
				height: 80px;
				.menu {
					border: none;
					opacity: 1;
					height: auto;
					text-align: left;
					padding: 0;
					visibility: visible;
					.menu__item {
						font-size: 1.8rem;
						font-weight: 400;
						display: inline-block;
						margin: 0;
						&:first-child {
							margin-top: 0;
						}
						a {
							color: $gray-dark;
							padding: 1.05em;
							&.is-active,
							&:hover,
							&:active {
								color: $white;
							}
						}
					}
				}
				.menu-icon {
					display: none;
				}
				.menu-toggle:checked~.menu {
					display: flex;
					height: auto;
				}
			}
		}
	}
}