
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  font-family: $font-base;
  color: $font-color;
  background-color: $white;
  overflow-x: hidden;
}

// Links
a {
  color: $color-link;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: shade($color-link, 15%);
  }
}


// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $gray-light;
}

// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

dt {
  font-style: italic;
}

dd {
  padding-left: 2rem;
}

// Images/Video
//––––––––––––––––––––––––––––––––––––––––––––––––––
img,
video {
  display: table;
  max-width: 100%;
}

figure {
  margin: 0 auto;
  padding-bottom: 2.4rem;

  img {
    display: table;
    margin: 0 auto;
  }
}

caption,
figcaption {
  font-size: $font-size--sm;
  font-style: italic;
  text-align: center;
}

// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––


table {
  // border-spacing: 0;
  // border: 0;
  border-collapse: collapse;
  border-color: gray;
  border-spacing: 2px;
  max-width: 100%;
  width: 100%;

  thead th {
    vertical-align: bottom;
    border-bottom: 1px solid $gray-light;
  }

  th,
  td {
    padding: 0.6rem;
    vertical-align: top;
    border-top: 1px solid #ccc;
  }

  th,
  tfoot td {
    font-weight: 700;
    text-align: left;
  }

  td {
    border-bottom: 1px solid $gray-light;
    padding: .6rem;
    text-align: left;
    vertical-align: top;
  }
}

// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea,
select {

  &:focus {
    border: 1px solid $color-primary;
    outline: 0;
  }
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    height: 50px;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      border: 1px solid $color-primary;
      outline: 0;
    }
  }
}

input,
textarea {
  font-size: 1.8rem;
  font-weight: 100;
  color: #8d8d8d;
  padding: 12px 20px;
  background-color: #fff;
  border: 1px solid transparent;
}

textarea {
  appearance: none;
  min-height: 120px;
  margin-top: 1rem;
  -moz-appearance: none;
  -webkit-appearance: none;
}

label,
legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

input:focus::-webkit-input-placeholder {
  color: $color-primary;
}
input:focus::-moz-placeholder {
  color: $color-primary;
}
input:focus:-ms-input-placeholder {
  color: $color-primary;
}

// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Contain overflow in all browsers.
pre {
  overflow: auto;
}

code {
  background: lighten($gray-light, 6.4%);
  border-radius: $global-radius;
  border: 1px solid $gray-light;
  font-size: 90%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
